/*公共样式*/
body {
    width: 100%;
    height: 100%;
}
/*正则提示*/
.showc::-webkit-input-placeholder {
    color: #df1b19;
}
/*轮播图*/
.bigpic {
    width: 100%;
}
.bigpic img {
    float: left;
    width: 100%;
}
/*底部导航栏*/
.nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #000;
    z-index: 999999999999999999999999;
}
.nav a {
    float: left;
    width: 50px;
    height: 50px;
    color: #666;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    background: #fff url(../icon/grzx.png) no-repeat center;
    background-size: 25px;
    box-shadow: 1px 1px 5px #000;
}

/*copyright*/
.copyright {
    float: left;
    width: 100%;
    height: 45px;
    margin: 10px 0;
}
.copyright h1 {
    height: 15px;
    margin-top: 10px;
    color: #999;
    text-align: center;
    line-height: 15px;
}
.copyright h2 {
    height: 15px;
    margin-top: 5px;
    color: #999;
    text-align: center;
    line-height: 15px;
}

/*商城主页*/
.index .index-bigpic {
    width: 100%;
}
.index .index-bigpic img {
    float: left;
    width: 100%;
}
.index .goods {
    background-color: #fff;
    margin-top: 15px;
}
.index .index-room {
    float: left;
    width: 49%;
}
.index .index-room .swiper-wrapper {
    float: left;
}
.index .index-room .swiper-slide img {
    float: left;
    width: 100%;
    height:114px;
    overflow: hidden;
}
.index .index-room .room-name {
    float: left;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.index .swiper-containerScenic .scenic {
    padding: 0 15px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    line-height: 45px;
    margin-bottom: 10px;
}
.index .swiper-containerScenic .swiper-slide {
    width: 90%;
    box-shadow: 1px 1px 5px #999;
}
.index .swiper-containerScenic .swiper-slide .scenic-title {
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px dashed #999;
}
.index .swiper-containerScenic .swiper-slide .scenic-con {
    padding: 5px 10px;
    height: 75px;
    overflow: hidden;
}
.index .swiper-containerScenic .swiper-slide .scenic-details {
    float: left;
    width: 97%;
    height: 25px;
    padding-left: 3%;
    border-top: 1px dashed #999;
    line-height: 25px;
}


/*个人中心页面*/
.pc {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
}
.pc .more {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #000,
                -1px -1px 5px #000;
    z-index: 999;
}
.pc .portrait {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.pc .title {
    height: 45px;
    padding: 0 10px;
    background-color: #fff;
    border-bottom: 1px solid #cbcbcc;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}
.pc .order-nav {
    height: 45px;
    background-color: #fff;
}
.pc .order-nav li {
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    line-height: 45px;
}
.pc .order-nav .on {
    color: #e2302e;
    border-bottom: 1px solid #e2302e;
}
.pc .content {
    position: fixed;
    overflow: scroll;
    top: 92px;
    bottom: 0px;
    width: 100%;
    margin-top: 10px;
    background-color: #f5f5f5;
}
.pc .content .con {
    display: none;
}
.pc .content .con ul li {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.pc .content .con ul li .status {
    float: left;
    width: 96%;
    height: 100%;
    padding: 0 2%;
    color: #e2302e;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
}
.pc .content .con ul li .info {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    background: #f5f5f5;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: none;
}
.pc .content .con ul li .info .store-name {
    overflow: hidden;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    box-shadow: 1px 1px 5px #999,
                -1px -1px 5px #999;
}
.pc .content .con ul li .info ul {
    padding: 5px 0;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    /*background-color: #999;*/
}
.pc .content .con ul li .info ul li {
    float: left;
    width: 44%;
    padding-left: 2%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    border-bottom: 0;
    font-size: 12px;
    padding: 0 1em;
    box-shadow: 1px 1px 5px #000;
}
.pc .content .con ul li .info ul li:nth-child(2n+2) {
    float: right;
    padding-left: 0;
    padding-right: 2%;
}
.pc .content .con ul li .info ul li em {
    float: left;
    height: 100%;
    color: #000;
}
.pc .content .con ul li .info ul li span {
    float: right;
    height: 100%;
    color: #000;
}
.pc .content .con ul li h4 {
    float: left;
    width: 100%;
    height: 35px;
    color: #999;
    background-color: #fff;
    margin-bottom: 10px;
    line-height: 35px;
    border-bottom: 1px solid #999;
}
.pc .content .con ul li h4 span {
    float: right;
    height: 100%;
    padding-right: 4%;
}
.pc .content .con ul li .combined {
    float: left;
    width: 100%;
    height: 40px;
    background: #fff url(../icon/icon_jifen.png) no-repeat 5px center;
    background-size: 13px;
    color: #e2302e;
    font-weight: bold;
    line-height: 40px;
    box-shadow: 1px 1px 5px #000;
}
.pc .content .con ul li .combined span {
    float: left;
    height: 100%;
    margin-left: 20px;
}

/*商品结算页面*/
.goods-settlement {
    padding-bottom: 46px;
    background-color: #fff;
}
.goods-settlement .address {
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
}
.goods-settlement .address h1 {
    height: 40px;
    padding: 0 3%;
    color: #000;
    border-bottom: 1px solid #e7e7e7;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}
.goods-settlement .address div {
    height: 35px;
    padding: 0 3%;
    margin-bottom: 10px;
}
.goods-settlement .content {
    float: left;
    width: 100%;
}
.goods-settlement .content .info {
    float: left;
    width: 96%;
    padding: 2%;
    background: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.goods-settlement .content .info .name {
    overflow: hidden;
    width: 100%;
    height: 30px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    border-bottom: 1px solid #999;
}
.goods-settlement .content .info ul {
    background-color: #f5f5f5;
    border: 1px dashed #999;
    border-top: 0;
}
.goods-settlement .content .info ul li {
    float: left;
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 35px;
}
.goods-settlement .content .info ul li strong {
    float: left;
    height: 100%;
    color: #999;
}
.goods-settlement .content .info ul li span {
    float: left;
    height: 100%;
    color: #999;
}
.goods-settlement .content .info ul li label {
    float: left;
    height: 100%;
    line-height: 35px;
    color: #999;
}
.goods-settlement .content .info ul .addressName,
.goods-settlement .content .info ul .addressTel {
    width: 90%;
}
.goods-settlement .content .info ul .addressDay,
.goods-settlement .content .info ul .addressRoom {
    width: 40%;
}
.goods-settlement .content .info ul .addressName .name-input {
    float: left;
    width: 70%;
    height: 25px;
    margin-top: 5px;
    margin-left: 34px;
    outline: none;
    line-height: 25px;
    border: 1px solid #999;
}
.goods-settlement .content .info ul .addressTel .tel-input {
    float: left;
    width: 70%;
    height: 25px;
    margin-left: 34px;
    margin-top: 5px;
    outline: none;
    line-height: 25px;
    border: 1px solid #999;
}
.goods-settlement .content .info ul .addressDay .address-input,
.goods-settlement .content .info ul .addressRoom .room-input {
    float: left;
    width: 20%;
    margin-left: 6px;
    height: 25px;
    color: #666;
    outline: none;
    text-align: left;
    margin-top: 5px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #999;
}
.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    border-top: 1px solid #e7e7e7;
    background-color: #fff;
    z-index: 999;
}
.goods-settlement .nav-bottom h1 {
    float: left;
    width: 68%;
    height: 45px;
    padding-right: 2%;
    color: #666;
    text-align: right;
    line-height: 45px;
}
.goods-settlement .nav-bottom h1 span {
    float: right;
    height: 100%;
    margin-left: 2%;
    padding-left: 7%;
    background: url(../icon/icon_jifen.png) no-repeat 0 50%;
    background-size: 15px;
    color: #df1b19;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}
.goods-settlement .nav-bottom button {
    float: right;
    width: 30%;
    height: 45px;
    background-color: red;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    outline: none;
    border: 0;
}

/*新闻列表页*/
#news {
    overflow: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f3f5f9;
}
.news li {
    padding: 12px 12px 0 12px;
    margin-bottom: 15px;
    background-color: #fff;
    border-bottom: 15px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.news li h1 {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 21px;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}
.news li h2 {
    padding: 5px 0;
    color: #999;
    font-size: 12px;
}
.news li h3 {
    overflow: hidden;
    height: 77px;
}
.news li a {
    display: block;
    height: 40px;
    margin-top: 10px;
    border-top: 1px solid #e7e7e7;
    background: url(../icon/icon_arrow_right.png) no-repeat 98% center;
    background-size: 15px;
    line-height: 40px;
}
#news h4 {
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}

/*新闻详情页*/
.news-details {
    padding: 12px;
}
.news-details h1 {
    font-size: 16px;
    font-weight: bold;
}
.news-details h2 {
    margin: 10px 0;
    color: #999;
}
.news-details div {
    padding-top: 20px;
    border-top: 1px solid #e7e7e7;
}